.wrapper {
    display: flex;
    align-items: baseline;
    padding: 10px;
    padding-bottom: 40px;
    background-image: url('../../img/decor2.png');
    background-size: 200px;
    background-repeat:repeat-x;
    background-position: bottom;
}

.title {
    color: white;
    font-size: 48px;
    margin: 0;
    font-weight: 700;
    line-height: 1;
    background: linear-gradient(180deg, #d8fee5 0%, #c0e4cd 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}