.div {
    padding: 30px;
    background-image: url('../../img/pngtree-printable-grinch-face-clipart-vector-png-image_6867006.png');
    background-size: 350px 350px;
    background-repeat: no-repeat;
    background-position: top 40px left 250px;
}