.form {
    box-sizing: border-box;
    display: flex;
    gap: 30px;
    justify-content: center;
    border-radius: 20px;
    padding: 40px;
    width: 1092px;
    height: 576px;
    backdrop-filter: blur(120px);
    & div {
        padding: 40px;
        width: 506px;
        display: flex;
        flex-direction: column;
        gap: 14px;
        text-align: left;
        & h2 {
            margin: 0;
            font-weight: 600;
            font-size: 30px;
            letter-spacing: -0.02em;
            color: var(--pure-white);
            width: 426px;
        }
        & h3 {
            margin: 0;
            font-weight: 400;
            font-size: 16px;
            letter-spacing: -0.01em;
            color: var(--pure-white);
            width: 426px;
            opacity: 0.8;
        }
        & button {
            border-radius: 5px;
            padding: 12px 10px;
            width: 426px;
            height: 42px;
            background-image: linear-gradient(90deg, #763af5 0%, #a604f2 100%);
            font-weight: 500;
            font-size: 15px;
            letter-spacing: -0.01em;
            color: var(--pure-white);
            outline: none;
            border: none;
            cursor: pointer;
        }
        & button:hover {
            box-shadow: 0 0 4px #763af5, 0 0 4px #a604f2;
        }
    }
}

.input {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 12px 14px;
    width: 426px;
    height: 42px;
    outline: none;
    line-height: 1;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(36, 36, 53, 1);
    cursor: pointer;
    transition: border-color 0.25s;
    box-sizing: border-box;
}

.input:hover,
.input:focus {
    color: white;
    border-color: #646cff;
    box-shadow: 0 6px 20px rgba(100, 108, 255, 0.3), 0 6px 20px rgba(100, 108, 255, 0.2);
}

.relative {
    margin: auto;
    position: relative;
    width: 1092px;
    height: 576px;
}

.ellipse {
    width: 134px;
    height: 134px;
    background-color: var(--light-purple);
    border-radius: 50%;
    filter: blur(110px);
    opacity: 0.8;
    box-shadow: 0 0 220px var(--light-purple);
    top: 0;
    left: 15%;
    position: absolute;
}

.ellipse2 {
    width: 134px;
    height: 134px;
    background-color: var(--pink-purple);;
    border-radius: 50%;
    filter: blur(90px);
    opacity: 0.7;
    box-shadow: 0 0 220px var(--pink-purple);;
    bottom: 0;
    right: 15%;
    position: absolute;
}