.item {
    width: 200px;
    padding: 15px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid var(--light-purple);
    border-radius: 24px;
    background-color: transparent;
    background: linear-gradient(67deg, var(--dark-navi) 15%, #a57bff 20%, var(--dark-navi) 24%, var(--dark-navi) 61%, var(--dark-navi) 69%, var(--dark-navi) 100%);
    background-size: 300% 300%;
    animation: gradientShift 5s ease infinite;
    & button {
        color: var(--pure-white);
        height: 40px;
        width: 70px;
        font-weight: 700;
        font-style: 12px;
        background-image: linear-gradient(90deg, #763af5 0%, #a604f2 100%);
        border: none;
        border-radius: 16px;
        cursor: pointer;
    }
    & button:hover {
        box-shadow: 0 0 4px #763af5, 0 0 4px #a604f2;
    }
    & svg {
        width: 60px;
        height: 60px;
        margin-right: 10px;
        background-image: linear-gradient(90deg, #763af5 0%, #a604f2 100%);
        border-radius: 100%;
    }
}

@keyframes gradientShift {
    0% {
        background-position: -300px 100%;
    }
    100% {
        background-position: 300px 100%;
    }
}

.text {
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: var(--pure-white);
    & p {
        margin: 0;
        display: inline-block;
    }
    & p::first-letter {
        text-transform: uppercase;
    }
}

.div {
    display: flex;
    gap: 20px;
}

.p {
    font-size: 24px;
    font-weight: bold;
}

.modal {
    padding: 10px;
    gap: 10px;
    display: flex;
    align-items: center;
    background-color: var(--dark-navi);
    & button {
        color: var(--pure-white);
        height: 50px;
        width: 60px;
        font-size: 16px;
        font-weight: 700;
        background-image: linear-gradient(90deg, #763af5 0%, #a604f2 100%);
        border: none;
        border-radius: 16px;
        cursor: pointer;
    }
    & button:hover {
        box-shadow: 0 0 4px #763af5, 0 0 4px #a604f2;
    }
}