.active {
    font-size: 28px;
    text-decoration: underline;
    background: linear-gradient(90deg, #763AF5 48%, #A604F2 99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.link {
    color: var(--pure-white);
    font-size: 24px;
    font-weight: bold;
}

.link:hover {
    text-shadow: 0 0 10px white;
    color: rgb(255, 255, 255);
}

.active:hover {
    text-shadow: none;
}

.wrapper {
    margin-left: 15px;
    display: flex;
    gap: 15px;
}